<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">
    <contextName>logback</contextName>
    <!-- 动态日志级别 -->
    <jmxConfigurator/>

    <!-- 定义日志文件 输出位置 -->
    <property name="log.path" value="/data/app/logs/dca-gateway"/>
    <property name="log.name" value="dca-gateway"/>
    <property name="log.monitor" value="appmonitor"/>
    <property name="log.maxSize" value="1GB"/>
    <property name="log.maxHistory" value="3650"/>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%level][%d{yyyy-MM-dd HH:mm:ss.SSS}][%thread] %class %method %logger{50} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.path}/${log.name}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${log.path}/${log.name}.log.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <maxHistory>${log.maxHistory}</maxHistory>
            <maxFileSize>${log.maxSize}</maxFileSize>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>${log.maxSize}</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>[%level][%d{yyyy-MM-dd HH:mm:ss.SSS}][%thread]%msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="monitor" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.path}/${log.monitor}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${log.path}/${log.monitor}.log.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <maxHistory>${log.maxHistory}</maxHistory>
            <maxFileSize>${log.maxSize}</maxFileSize>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>${log.maxSize}</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>[%level][%d{yyyy-MM-dd HH:mm:ss.SSS}][%thread]%msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="console"/>
        <appender-ref ref="file"/>
    </root>

    <logger name="com.webank.blockchain.dca.gateway.controller" level="INFO" additivity="false">
        <appender-ref ref="file"/>
        <appender-ref ref="console"/>
    </logger>
    <logger name="com.webank.blockchain.dca.gateway.service" level="INFO" additivity="false">
        <appender-ref ref="file"/>
        <appender-ref ref="console"/>
    </logger>
    <logger name="com.webank.blockchain.dca.gateway.task" level="INFO" additivity="false">
        <appender-ref ref="file"/>
        <appender-ref ref="console"/>
    </logger>
    <logger name="com.webank.blockchain.dca.gateway.monitor" level="INFO" additivity="false">
        <appender-ref ref="file"/>
        <appender-ref ref="monitor"/>
        <appender-ref ref="console"/>
    </logger>
    <logger name="com.webank.blockchain.dca.gateway.advice" level="INFO" additivity="false">
        <appender-ref ref="file"/>
        <appender-ref ref="console"/>
    </logger>
    <logger name="com.webank.blockchain.dca.gateway.aspect" level="INFO" additivity="false">
        <appender-ref ref="file"/>
        <appender-ref ref="console"/>
    </logger>

</configuration>